---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: "{{ remote_cluster_name }}"
  labels:
    name: "{{ remote_cluster_name }}"
    cloud: auto-detect
    vendor: auto-detect
    cluster.open-cluster-management.io/clusterset: gitops
  annotations: {}
spec:
  hubAcceptsClient: true
---
apiVersion: v1
kind: Secret
metadata:
  name: auto-import-secret
  namespace: "{{ remote_cluster_name }}"
stringData:
  autoImportRetry: "2"
  token: "{{ remote_cluster_accesstoken }}"
  server: "{{ remote_cluster_url }}"
type: Opaque
---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: "{{ remote_cluster_name }}"
  namespace: "{{ remote_cluster_name }}"
spec:
  clusterName: "{{ remote_cluster_name }}"
  clusterNamespace: "{{ remote_cluster_name }}"
  clusterLabels:
    name: "{{ remote_cluster_name }}"
    cloud: auto-detect
    vendor: auto-detect
    cluster.open-cluster-management.io/clusterset: gitops
  applicationManager:
    enabled: true
    argocdCluster: false
  policyController:
    enabled: true
  searchCollector:
    enabled: true
  certPolicyController:
    enabled: true
  iamPolicyController:
    enabled: true